# VS Code
.vscode
.VSCodeCounter

# Data Files
Project_Details.csv
Input/*
Data/Manifests/*
Data/Logs/*
Data/Outputs/*
Data/Warehouse/*
Reports/*

Config.psd1


# Personal and/or Temp Items
project_instructions.md
notes.md
test*
